{
    "fields": {
        "project":
        {
            "key": "TEST"
        },
        "summary": "Monitoring {{ .labels.node }} - {{ .labels.alertname }} ({{ .status }})",
        "description": "{{ .annotations.description | strQuote }}",
        "issuetype": {
            "id": "10002"
        }
    }
}