{{ if eq .status "firing" -}}
    {{ if ge (add .repeat 1) 3.0 -}}
        {{- if eq .labels.alertname "up" -}}
            {
                "fields": {
                    "project":
                    {
                        "key": "TEST"
                    },
                    "summary": "Monitoring {{ .labels.node }} - {{ .labels.alertname }} ({{ .status }})",
                    "description": "Сервер {{ .labels.node }} недоступен. Необходимо проверить состояние сервера или удалить его из Etcd.",
                    "issuetype": {
                        "id": "10002"
                    }
                }
            }
        {{- end -}}
    {{ end -}}
{{ end -}}